@model K22CNT3_NKL_2210900035_Project2.Models.CHAPTER

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CHAPTER</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.so_chuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.so_chuong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ten_chuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ten_chuong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.noi_dung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.noi_dung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ngay_dang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngay_dang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STORY.ten_truyen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STORY.ten_truyen)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ma_chuong }) |
    @Html.ActionLink("Back to List", "Index")
</p>
